.container{
    width: 370px;
    max-width:100%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-3);
    padding: 16px 16px;
    border-radius: 4px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}