.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--gray-0);
    background-color: var(--gray-3);
    height: 2.5rem;
    padding: 0px 16px;
    text-decoration: none;
    border-radius: 8px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    margin-top: 2rem;
}

.inputs{
    width: 370px;
    display: flex;
    flex-direction: column;
}